<h2> Desventajas del estilo MVC</h2>

<ul>
    <li><strong>Complejidad en la gestión:</strong> La separación de responsabilidades puede hacer que la aplicación sea más compleja de gestionar, especialmente en proyectos grandes.</li>
    <li><strong>Curva de aprendizaje:</strong> Para nuevos desarrolladores, puede ser difícil entender y adaptarse al patrón MVC.</li>
    <li><strong>Overhead:</strong> El uso de MVC puede introducir un overhead adicional en términos de recursos y tiempo de desarrollo.</li>
</ul>